/**********RESET CSS**************/
article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

*{
    box-sizing: border-box;
}
body{
    width: 100%; /*largeur de la page */
    margin: 0 auto; /*centrage*/
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
/*******END RESET CSS*************/

/********VERSION MOBILE***********/


/********************HEADER*****************************************/
header nav {
    z-index: 1000;
    width: 100%;

}
header{
    display: inline;
    float: left;
    width: 100%;
}
#contenu_header{
    width: 100%;
    display: inline;
    float: left;
    background-color: darkseagreen;
}

div#logo_paul_gabini{
    height: 80px;
    display: inline;
    float: left;
    width: 20%;
    padding-left: 2%;
}
#logo_paul_gabini img{
    width: 80px;
    height: 100%;
    display: inline;
    float: left;
}
div#logo_paul_gabini a{
    width: 80px;
    height: 100%;
    display: block;
    float: left;
}

#menu-secondaire{
    width: 80%;
    display: inline;
    float: right;
}
.icon{
    display: inline;
    float: right;
    padding-right: 2%;
    font-size: 2.5em;
    line-height: 80px;
}

/**css du menu hamburger**/


header .menu-btn{
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    display: block;
    padding: 15px 3% 15px 0;
    float: right;
}

header .menu-btn span{
    /* float: right;*/
    display: block; /*les span se placent les uns sous les autres*/
    width: 40px; /*largeur de la rayure*/
    height: 5px; /*hauteur de la rayure*/
    margin:10px 0; /*on les sépare*/
    background: black; /*couleur des rayures*/
    z-index: 99;
}
.responsive-menu{
    display: none;
}
header nav ul {
    width: 100%;
    text-align: center;
}
header nav ul li{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid darkseagreen;
}
header ul li a{
    padding: 2% 0;
    display: block;
    color: black;
    font-weight: bold;
}
header ul li a:hover{
    color: darkseagreen;
}
.sub-menu{
    background-color: darkseagreen;
    font-weight: bold;
}
.sub-menu a:hover{
    color: white;
}
.sub-menu ul li:first-child{

}
header nav ul li .children {
    display: none;
    z-index: 1000;
}

/*header nav ul li:hover .children{
    display: block;
    width: 100%;
}*/

header nav ul li .children li a {
    width: 100%;
    margin: 0;
}

/*on affiche le menu qd l'utilisateur clique sur le hamburger, on ajoute la classe expand en jQuery*/
.expand {
    display: inline !important;
}

/**fin du css menu hamburger**/

/***barre de recherche**/

#barre_de_recherche{
    display: none;
    border: 5px solid black;
    float: left;
    width: 100%;
    z-index: 100;
}
#search{
    width: 80%;
    text-align: center;
    float: left;
}
#submit_search{
    width: 20%;
    float: right;
    background-color: darkseagreen;
    font-weight: bold;
}


/***********PAGE D'ACCUEIL mobile***********/

#main_accueil{
    display: inline;
    float: left;
    width: 100%;


}
/*****FOOTER*********/

footer{
    width: 100%;
    display: inline;
    float: left;
    padding: 4%;
    background-color: darkseagreen;
    margin: 0 auto;
}
#navfooter ul{
    width: 100%;
    text-align: center;
}

#navfooter ul li{
    width: 100%;

}
#navfooter ul li a{
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    color: black;
    font-weight: bold;
    padding-bottom: 1%;
}
#navfooter ul li a:hover{
    color: white;
}
#reseaux-sociaux{
    width: 100%;
    display: inline;
    float: left;
    margin: 0 auto;
}
#reseaux-sociaux li{
    display: inline;
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 2%;
}
#reseaux-sociaux img {
    width: 50px;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}
#reseaux-sociaux li a{
    display: block;

}